@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --color-primary: #1da1f2;
  --color-primary-dark: #1a91da;
  --color-primary-light: #1da1f260;
  --color-primary-very-light: #1da1f220;
  --color-black: #14171a;
  --color-dark-gray: #657786;
  --color-light-gray: #aab8c2;
  --color-lighter-gray: #e1e8ed;
  --color-very-light-gray: #f5f8fa;
  --color-red: #e02463;
  --font-xl: 1.8rem;
  --font-lg: 1.4rem;
  --font-md: 1.2rem;
  --font-sm: 1rem;
  --font-xs: 0.8rem;
  --font-xxs: 0.6rem;
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;
  --fw-extra-light: 100;
  --border-primary: 1px solid var(--color-lighter-gray);
  --padding-lg: padding 1rem;
  --padding-md: padding 0.8rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media only screen and (max-width: 31.25em) {
  html {
    font-size: 80%; } }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

button {
  cursor: pointer; }

#page {
  padding: 0 10%; }
  @media only screen and (max-width: 62.5em) {
    #page {
      padding: 0 5%; } }
  @media only screen and (max-width: 50em) {
    #page {
      padding: 0; } }

.button-primary {
  background-color: var(--color-primary);
  height: 3rem;
  width: 15rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  transition: background 0.5s; }
  .button-primary:hover {
    background: var(--color-primary-dark); }

.button-inverted-primary {
  background-color: #fff;
  height: 3rem;
  width: 15rem;
  color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  border: 1px solid var(--color-primary);
  transition: background 0.5s; }
  .button-inverted-primary:hover {
    background: var(--color-primary-light); }

.button-primary-small {
  background-color: var(--color-primary-light);
  height: 2.5rem;
  width: 5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  transition: background 0.5s; }
  .button-primary-small:hover {
    background: var(--color-primary-dark); }

.button-inverted-small {
  font-weight: 700;
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 25rem;
  width: 5rem;
  height: 2rem;
  font-size: 0.9rem;
  transition: background 0.5s; }
  .button-inverted-small:hover {
    background: var(--color-primary-light); }

.button-inverted-md {
  font-weight: 700;
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 25rem;
  width: 7rem;
  height: 2.5rem;
  font-size: 0.9rem;
  transition: background 0.5s; }
  .button-inverted-md:hover {
    background: var(--color-primary-light); }

.button-long-primary,
.button-long-inverted {
  font-weight: 700;
  border-radius: 25rem;
  width: 25rem;
  height: 2.5rem;
  font-size: 0.9rem;
  transition: background 0.5s;
  margin: 0.5rem 0; }

.button-long-primary {
  background: var(--color-primary);
  color: #fff;
  border: none;
  transition: background 0.5s; }
  .button-long-primary:hover {
    background: var(--color-primary-dark); }

.button-long-inverted {
  background: #fff;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  transition: background 0.5s; }
  .button-long-inverted:hover {
    background: var(--color-primary-light); }

.link {
  display: inline-block;
  color: var(--color-primary);
  font-size: var(--font-sm);
  font-weight: var(--fw-regular); }

.nav-btn-smaller-screens {
  display: none; }
  @media only screen and (max-width: 75em) {
    .nav-btn-smaller-screens {
      display: flex;
      justify-content: center; } }
  .nav-btn-smaller-screens__icon {
    background-color: var(--color-primary);
    fill: #fff;
    border-radius: 50%;
    padding: 0.5rem;
    height: 3rem;
    width: 3rem; }

.dropdown-container {
  position: relative; }

.dropdown-primary {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5000;
  box-shadow: 0 0.5rem 0.5rem rgba(68, 68, 68, 0.2);
  border-radius: 0.5rem; }
  .dropdown-primary__list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s; }
    .dropdown-primary__list-item:hover {
      background-color: var(--color-very-light-gray); }
  .dropdown-primary__icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    fill: var(--color-dark-gray); }
    .dropdown-primary__icon-delete {
      fill: var(--color-red); }
  .dropdown-primary__link {
    font-size: var(--font-xs);
    color: var(--color-dark-gray);
    white-space: nowrap; }
    .dropdown-primary__link-delete {
      color: var(--color-red); }

.modal-container {
  height: 100%;
  width: 100%;
  background-color: rgba(68, 68, 68, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;
  display: flex;
  justify-content: center;
  align-items: center; }

.modal {
  background: #fff;
  border-radius: 25px;
  z-index: 701;
  position: relative; }

.tweet-modal__header {
  width: 100%;
  border-bottom: var(--border-primary);
  display: flex;
  align-items: center;
  height: 3rem; }
  .tweet-modal__header h3 {
    margin-left: 2rem;
    font-size: 1.2rem;
    color: var(--color-primary);
    font-weight: var(--fw-bold);
    cursor: pointer; }
.tweet-modal__content {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 8fr; }
  .tweet-modal__content > div {
    padding-top: 1rem; }
.tweet-modal__img {
  object-fit: cover;
  margin-right: 2rem; }
.tweet-modal__input-field-border {
  border-bottom: var(--border-primary);
  margin: 1rem 0; }
.tweet-modal__input {
  padding-bottom: 8rem; }
.tweet-modal__menu {
  display: flex;
  justify-content: space-between;
  align-self: center; }
.tweet-modal svg {
  cursor: pointer; }

.signup-modal {
  padding: 2rem;
  width: 40%; }
  .signup-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .signup-modal__header-icon {
      margin-right: 0 !important; }
  .signup-modal .signup-form__input-field {
    margin: 1rem 0; }
  .signup-modal .signup-form__dob-container {
    display: grid;
    grid-template-columns: 4fr 2fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 30px; }
  .signup-modal .signup-form__dob-input-field {
    padding: 0.5rem 0 !important; }
  .signup-modal select {
    position: relative; }
    .signup-modal select option {
      width: 100%; }

.display-hidden {
  display: none; }

.display-inline-block {
  display: inline-block; }

.display-flex {
  display: flex; }

.tweet-card, .retweet-card {
  position: relative;
  padding: 0.8rem;
  border-bottom: var(--border-primary); }
  .tweet-card__grid-container {
    display: grid;
    grid-template-columns: 2fr 14fr 1fr;
    gap: 0.5rem; }
  .tweet-card__like-box, .tweet-card__retweet-box {
    position: absolute;
    top: 0.5rem;
    left: 2.5rem;
    color: var(--color-light-gray);
    font-size: 0.8rem; }
    .tweet-card__like-box > div, .tweet-card__retweet-box > div {
      display: flex;
      align-items: center; }
    .tweet-card__like-box-icon, .tweet-card__retweet-box-icon {
      width: 0.8rem;
      fill: var(--color-dark-gray);
      margin-right: 0.5rem; }
  .tweet-card__info, .retweet-card__info {
    display: flex;
    align-items: center;
    gap: 0.5rem; }
  .tweet-card__user, .retweet-card__user {
    display: flex;
    gap: 0.5rem; }
    .tweet-card__user-img {
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
      object-fit: cover; }
    .tweet-card__user-name, .retweet-card__user-name {
      font-size: 0.9rem; }
  .tweet-card__user-handle, .tweet-card__tweet-date, .retweet-card__user-handle, .retweet-card__tweet-date {
    font-size: 0.9rem;
    color: var(--color-light-gray);
    cursor: pointer; }
  .tweet-card__tweet, .retweet-card__tweet {
    font-size: 0.9rem;
    padding-top: 0.5rem; }
    .tweet-card__tweet-input {
      border: none;
      outline: none;
      width: 100%;
      height: 100%; }
      .tweet-card__tweet-input:focus {
        outline: none; }
  .tweet-card__img, .retweet-card__img {
    width: 100%;
    margin: 1rem 0;
    border-radius: 1rem; }
  .tweet-card__icon-container {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
  .tweet-card__icon-field {
    display: flex;
    align-items: center;
    color: var(--color-light-gray);
    font-weight: 700;
    font-size: 0.8rem; }
    .tweet-card__icon-field-icon {
      width: 1.25rem;
      fill: var(--color-light-gray);
      margin-right: 0.5rem; }
  .tweet-card__dropdown-icon {
    width: 1rem;
    fill: var(--color-light-gray);
    cursor: pointer; }
  .tweet-card__button-container {
    padding: 1rem 0;
    display: flex; }
  .tweet-card__button {
    border: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-right: 1rem; }
  .tweet-card .delete, .retweet-card .delete {
    background: red; }
  .tweet-card .update, .retweet-card .update {
    background: orange; }

.retweet-card {
  border: var(--border-primary);
  border-radius: 0.5rem; }
  .retweet-card__grid-container {
    display: grid;
    grid-template-columns: 1fr 14fr 1fr;
    gap: 0.5rem; }
  .retweet-card__user-img {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%; }

.user {
  display: grid;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 51701;
  grid-template-columns: 1fr 5fr 1fr;
  cursor: pointer; }
  @media only screen and (max-width: 75em) {
    .user {
      display: none; } }
  .user__img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0.5rem;
    object-fit: cover; }
  .user__name {
    font-size: 1rem;
    font-weight: 700; }
  .user__handler {
    font-size: 0.8rem;
    font-weight: 100; }
  .user__icon {
    height: 18px;
    width: 18px;
    color: var(--color-gray); }
  .user__modal {
    width: 100%;
    bottom: 4rem;
    position: absolute;
    background-color: #fff;
    border: 2px solid var(--color-light-gray);
    z-index: 51701;
    border-radius: 5px; }
    .user__modal-logout-btn {
      width: 100%;
      background: #fff;
      padding: 1rem 0;
      text-transform: uppercase;
      text-align: center;
      border: none; }
  .user__smaller-screen {
    display: none; }
    @media only screen and (max-width: 75em) {
      .user__smaller-screen {
        display: block; } }

.auth-page__grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media only screen and (max-width: 62.5em) {
    .auth-page__grid-container {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-auto-flow: dense; } }

#page {
  display: grid;
  grid-template-columns: minmax(auto, 0.8fr) 1.8fr 1.2fr;
  grid-gap: 0.1rem; }
  @media only screen and (max-width: 62.5em) {
    #page {
      grid-template-columns: minmax(auto, 0.2fr) 1.8fr; } }

#main {
  border-left: var(--border-primary);
  border-right: var(--border-primary);
  position: relative;
  width: 100%; }

.border__thick {
  border-bottom: 12px solid var(--color-lighter-gray); }

#menu {
  height: 100vh;
  display: grid;
  grid-template-rows: 8fr 3fr 1fr;
  width: 100%;
  position: sticky;
  top: 0; }

.navigation {
  height: 100%;
  display: flex; }
  @media only screen and (max-width: 62.5em) {
    .navigation {
      justify-content: center; } }
  .navigation__list {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(9, 1fr); }
  .navigation__list-item, .navigation__logo {
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center; }
    .navigation__list-item a, .navigation__logo a {
      position: relative; }
    .navigation__list-item:hover a::before, .navigation__logo:hover a::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50px;
      background: var(--color-primary-very-light);
      color: var(--color-primary);
      border-radius: 55px;
      width: calc(100px + 100%);
      height: 200%; }
    .navigation__list-item:hover a, .navigation__logo:hover a {
      color: var(--color-primary); }
    .navigation__list-item:hover svg, .navigation__logo:hover svg {
      fill: var(--color-primary); }
  .navigation__link {
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
    color: black; }
    @media only screen and (max-width: 75em) {
      .navigation__link {
        display: none; } }
    .navigation__link-active {
      color: var(--color-primary); }
  .navigation__icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem; }
    @media only screen and (max-width: 75em) {
      .navigation__icon {
        margin: 0; } }
    .navigation__icon-active, .navigation__icon-fill {
      fill: var(--color-primary); }

@media only screen and (max-width: 75em) {
  #open-tweet-modal {
    display: none; } }

.side-menu {
  max-height: 110vh;
  padding-top: 0.5rem;
  margin: 0 1rem;
  display: grid;
  grid-template-rows: 1fr 8fr 5fr; }
  @media only screen and (max-width: 62.5em) {
    .side-menu {
      display: none; } }

.searchbar {
  background: var(--color-lighter-gray);
  height: 2.8rem;
  width: 100%;
  border-radius: 25rem;
  display: flex;
  align-items: center;
  position: relative; }
  .searchbar__label {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .searchbar__input {
    border: none;
    background: transparent; }
    .searchbar__input::placeholder {
      color: var(--color-dark-gray); }
  .searchbar__icon {
    height: 20px;
    width: 20px;
    fill: var(--color-dark-gray);
    margin: 0 1rem; }

.trends,
.who-to-follow {
  background: var(--color-very-light-gray);
  border-radius: 15px;
  margin: 1rem 0; }
  .trends__topbar,
  .who-to-follow__topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--color-lighter-gray); }
    .trends__topbar-title,
    .who-to-follow__topbar-title {
      font-size: var(--font-regular);
      font-weight: var(--fw-bold); }
    .trends__topbar-icon,
    .who-to-follow__topbar-icon {
      height: 20px;
      width: 20px;
      fill: var(--color-primary);
      transition: background 0.5s; }
      .trends__topbar-icon:hover,
      .who-to-follow__topbar-icon:hover {
        background-color: var(--color-primary-light);
        border-radius: 50%;
        z-index: 1; }
  .trends__footer,
  .who-to-follow__footer {
    margin: 1rem;
    transition: background 0.5s; }
    .trends__footer:hover,
    .who-to-follow__footer:hover {
      background-color: var(--color-lighter-gray);
      z-index: 1; }

.trends__card {
  border-bottom: 1px solid var(--color-lighter-gray);
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  transition: background 0.5s; }
  .trends__card:hover {
    background-color: var(--color-lighter-gray);
    z-index: 1; }
  .trends__card-location, .trends__card-tweets-nr {
    font-size: var(--font-xs);
    font-weight: var(--fw-light);
    color: var(--color-dark-gray); }
  .trends__card-trend {
    font-size: var(--font-xs);
    font-weight: var(--fw-bold);
    padding-top: 0.2rem;
    padding-bottom: 0.5rem; }
  .trends__card-icon {
    height: 15px;
    width: 15px;
    fill: var(--color-light-gray); }

.who-to-follow__card {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--color-lighter-gray);
  justify-content: space-between;
  cursor: pointer;
  transition: background 0.5s; }
  .who-to-follow__card:hover {
    background-color: var(--color-lighter-gray);
    z-index: 1; }
  .who-to-follow__card-user {
    display: flex;
    align-items: center; }
  .who-to-follow__card-img {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 0.5rem; }
.who-to-follow__name {
  font-size: 1rem;
  font-weight: 700; }
.who-to-follow__handle {
  font-size: 1rem;
  font-weight: 300; }

.auth {
  max-width: 100%;
  overflow: hidden; }
  .auth__left {
    height: 100vh;
    width: 100%;
    display: block;
    background-image: url("../img/twitter-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-primary-light); }
    .auth__left-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%; }
      .auth__left-container > div {
        text-align: left; }
    .auth__left-tagline-field {
      display: flex;
      padding: 1rem 0; }
      .auth__left-tagline-field-icon {
        width: 1.6rem;
        fill: #fff;
        margin-right: 0.5rem; }
      .auth__left-tagline-field-heading {
        color: #fff;
        font-size: 1.4rem;
        font-weight: 700; }
  .auth__right {
    position: relative; }
    @media only screen and (max-width: 62.5em) {
      .auth__right {
        grid-row: 1; } }
    @media only screen and (max-width: 31.25em) {
      .auth__right {
        padding: 0 1rem; } }
  .auth__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    width: 50%;
    margin: 0 auto; }
    .auth__cta > div {
      text-align: left; }
    .auth__cta-logo {
      width: 3.5rem;
      align-self: flex-start;
      margin: 0;
      padding: 0;
      transform: translateX(-0.5rem); }
    .auth__cta-heading {
      font-weight: 700;
      font-size: 1.8rem;
      padding-top: 1rem; }
      @media only screen and (max-width: 31.25em) {
        .auth__cta-heading {
          font-size: 1.4rem; } }
    .auth__cta-tagline {
      padding-top: 6rem;
      font-size: 1rem;
      font-weight: var(--fw-bold); }
  .auth__footer {
    height: 3rem;
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0; }
    .auth__footer-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 12rem;
      background-color: #fff;
      flex-wrap: wrap; }
      @media only screen and (max-width: 75em) {
        .auth__footer-container {
          padding: 0 6rem; } }
      @media only screen and (max-width: 31.25em) {
        .auth__footer-container {
          padding: 0 1rem; } }
    .auth__footer-link, .auth__footer-copyright {
      font-size: var(--font-xs);
      color: var(--color-dark-gray); }

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: var(--color-dark-gray); }
  @media only screen and (max-width: 31.25em) {
    .login {
      flex-direction: column; } }
  .login__input-field {
    margin: 1rem; }
    @media only screen and (max-width: 31.25em) {
      .login__input-field {
        width: 100%; } }
  @media only screen and (max-width: 31.25em) {
    .login button {
      width: 100%;
      margin-top: 2rem;
      height: 3rem; } }

.error-msg {
  position: absolute;
  bottom: -3rem;
  color: var(--color-red);
  font-size: var(--font-xxs);
  left: 0; }

.homebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
  border-bottom: var(--border-primary);
  position: sticky;
  top: 0;
  height: 50px;
  z-index: 5;
  background: #fff; }
  .homebar__title {
    font-size: 1.2rem;
    font-weight: bold; }
  .homebar__icon {
    height: 25px;
    width: 25px;
    fill: var(--color-primary); }

.tweetbar {
  display: flex;
  margin: 0.8rem; }
  .tweetbar__img {
    margin-top: 1rem;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-right: 0.5rem;
    object-fit: cover; }
  .tweetbar__content {
    width: 100%; }
  .tweetbar__input-field {
    padding-top: 2rem; }
  .tweetbar__input:focus ~ .tweetbar__tagline .tweetbar__tagline-text {
    display: inline-block; }
  .tweetbar__input:focus ~ .tweetbar__tagline .tweetbar__tagline-img {
    display: inline-block; }
  .tweetbar__input:focus ~ .tweetbar__tagline .tweetbar__border {
    display: block;
    height: 300px; }
  .tweetbar__input:focus .tweetbar__border {
    display: none; }
  .tweetbar__border {
    border-bottom: var(--border-primary);
    display: block;
    padding-top: 0.4rem; }

.tweetbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.8rem;
  flex-wrap: wrap; }
  .tweetbar-menu__icon {
    height: 25px;
    width: 25px;
    fill: var(--color-primary);
    margin-right: 1rem;
    cursor: pointer; }
    @media only screen and (max-width: 62.5em) {
      .tweetbar-menu__icon {
        height: 15px;
        width: 15px; } }

/* Welcome page that shows if you do not fallow anyone */
.welcome {
  padding-top: 3rem;
  text-align: center;
  margin: 0 2rem; }
  .welcome__title {
    font-size: 1.4rem; }
  .welcome__tagline {
    font-size: 1rem;
    color: lightgray;
    padding: 1rem 0rem; }

.subpage-hidden {
  display: none; }
.subpage-visible {
  display: block; }

.profile-topbar {
  height: 50px;
  border-bottom: var(--border-primary);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: #fff;
  z-index: 200; }
  .profile-topbar__heading {
    font-size: var(--font-md);
    font-weight: var(--fw-bold); }
  .profile-topbar__tweets-nr {
    color: var(--color-dark-gray); }

.profile-userbar {
  position: relative;
  display: flex; }
  .profile-userbar__background-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background: url("../img/cat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: block; }
  .profile-userbar__user-img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    position: absolute;
    top: 225px;
    left: 10px; }
  .profile-userbar__flex-container {
    padding-top: 325px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 1.5rem; }
  .profile-userbar__txt-container {
    padding-top: 50px; }
  .profile-userbar__join-date {
    display: flex;
    align-items: center; }
    .profile-userbar__join-date__icon {
      margin-right: 0.25rem;
      height: 20px;
      width: 20px;
      fill: var(--color-dark-gray); }
  .profile-userbar__follower-info {
    display: flex;
    align-items: center;
    font-size: var(--font-xs); }
  .profile-userbar__follower-text {
    color: var(--color-dark-gray);
    margin-right: 0.25rem; }
  .profile-userbar__follower-count {
    font-weight: var(--fw-bold);
    margin-right: 0.25rem;
    color: #444; }

.profile-nav {
  height: 70px;
  width: 100%;
  border-bottom: var(--border-primary); }
  .profile-nav__list {
    display: flex;
    height: 100%;
    justify-content: space-around;
    padding-top: 2rem; }
    .profile-nav__list-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%; }
      .profile-nav__list-item-active {
        border-bottom: 2px solid var(--color-primary); }
  .profile-nav__link {
    font-weight: 700; }
    .profile-nav__link-active {
      color: var(--color-primary) !important; }

.marginBottom05 {
  margin-bottom: 0.5rem; }

.img-round-md {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-right: 0.5rem; }

.icon-25px-primary {
  height: 25px;
  width: 25px;
  fill: var(--color-primary);
  margin-right: 1rem; }

.form-input-field,
.form-select-input-field {
  padding: 0.5rem;
  background: var(--color-very-light-gray);
  position: relative; }
  .form-input-field > .link,
  .form-select-input-field > .link {
    position: absolute;
    left: 0;
    bottom: -1.5rem; }
  .form-input-field__label,
  .form-select-input-field__label {
    display: block; }
  .form-input-field__input,
  .form-select-input-field__input {
    border: none;
    background: transparent;
    padding-bottom: 0.5rem;
    width: 100%;
    height: 100%; }
    .form-input-field__input:focus,
    .form-select-input-field__input:focus {
      outline: none; }

.success {
  color: var(--color-primary); }

.fail {
  color: red; }

.border-neaturual {
  border-bottom: 2px solid var(--color-dark-gray); }

.border-success {
  border-bottom: 2px solid var(--color-primary); }

.border-fail {
  border-bottom: 2px solid red; }

.padding-bottom-1 {
  padding-top: 1rem; }

.heading-primary {
  font-size: var(--font-lg);
  font-weight: var(--fw-bold); }

.heading-secondary {
  font-size: var(--font-sm);
  font-weight: var(--fw-bold); }

.text-xs-light {
  font-size: var(--font-xs);
  color: var(--color-dark-gray); }

.text-sm-light {
  font-size: var(--font-sm);
  color: var(--color-dark-gray); }

.hashtag {
  font-size: inherit;
  color: var(--color-primary);
  font-weight: 700; }

.input-placeholder-large {
  font-size: 1.2rem;
  color: var(--color-light-gray);
  border: none; }
  .input-placeholder-large:focus {
    outline: none;
    color: var(--color-black); }

.tagline-primary-md {
  display: flex;
  align-items: center;
  padding-top: 1rem; }
  .tagline-primary-md-img {
    height: 20px;
    width: 20px;
    fill: var(--color-primary);
    margin-right: 0.5rem; }
  .tagline-primary-md-text {
    color: var(--color-primary);
    font-size: 0.8rem;
    font-weight: bold; }

/*# sourceMappingURL=main.css.map */
