:root {
  --color-primary: #1da1f2;
  --color-primary-dark: #1a91da;
  --color-primary-light: #1da1f260;
  --color-primary-very-light: #1da1f220;
  --color-black: #14171a;
  --color-dark-gray: #657786;
  --color-light-gray: #aab8c2;
  --color-lighter-gray: #e1e8ed;
  --color-very-light-gray: #f5f8fa;
  --color-red: #e02463;

  --font-xl: 1.8rem;
  --font-lg: 1.4rem;
  --font-md: 1.2rem;
  --font-sm: 1rem;
  --font-xs: 0.8rem;
  --font-xxs: 0.6rem;

  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;
  --fw-extra-light: 100;

  --border-primary: 1px solid var(--color-lighter-gray);

  --padding-lg: padding 1rem;
  --padding-md: padding 0.8rem;
}
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-smallest: 31.25em; //500px
