:root {
  --color-primary: #1da1f2;
  --color-primary-light: #1da1f260;
  --color-black: #14171a;
  --color-dark-gray: #657786;
  --color-light-gray: #aab8c2;
  --color-lighter-gray: #e1e8ed;
  --color-very-light-gray: #f5f8fa;

  --font-lg: 1.8rem;
  --font-md: 1.4rem;
  --font-regular: 1.2rem;
  --font-sm: 1rem;
  --font-xs: 0.8rem;

  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;
  --fw-extra-light: 100;
}
