.side-menu {
  max-height: 110vh;
  padding-top: 0.5rem;
  margin: 0 1rem;
  display: grid;
  grid-template-rows: 1fr 8fr 5fr;

  @media only screen and (max-width: $bp-large) {
    display: none;
  }
}

.searchbar {
  background: var(--color-lighter-gray);
  height: 2.8rem;
  width: 100%;
  border-radius: 25rem;
  display: flex;
  align-items: center;
  position: relative;

  &__label {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__input {
    border: none;
    background: transparent;

    &::placeholder {
      color: var(--color-dark-gray);
    }
  }
  &__icon {
    height: 20px;
    width: 20px;
    fill: var(--color-dark-gray);
    margin: 0 1rem;
  }
}
.trends,
.who-to-follow {
  background: var(--color-very-light-gray);
  border-radius: 15px;
  margin: 1rem 0;

  &__topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--color-lighter-gray);
    &-title {
      font-size: var(--font-regular);
      font-weight: var(--fw-bold);
    }
    &-icon {
      height: 20px;
      width: 20px;
      fill: var(--color-primary);
      @include icon-hover;
    }
  }
  &__footer {
    margin: 1rem;

    @include gray-card-hover; // TODO make it fill in the entier card
  }
}

.trends__card {
  border-bottom: 1px solid var(--color-lighter-gray);
  padding: 1rem;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  @include gray-card-hover;
  &-location,
  &-tweets-nr {
    font-size: var(--font-xs);
    font-weight: var(--fw-light);
    color: var(--color-dark-gray);
  }
  &-trend {
    font-size: var(--font-xs);
    font-weight: var(--fw-bold);
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
  }
  &-icon {
    height: 15px;
    width: 15px;
    fill: var(--color-light-gray);
  }
}

.who-to-follow {
  &__card {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--color-lighter-gray);
    justify-content: space-between;
    cursor: pointer;
    @include gray-card-hover;

    &-user {
      display: flex;
      align-items: center;
    }
    &-img {
      display: inline-block;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  }
  &__name {
    font-size: 1rem;
    font-weight: 700;
  }
  &__handle {
    font-size: 1rem;
    font-weight: 300;
  }
}
