#main {
  border-left: var(--border-primary);
  border-right: var(--border-primary);

  position: relative;
  width: 100%;
}

.border__thick {
  border-bottom: 12px solid var(--color-lighter-gray);
}
