.button-primary {
  background-color: var(--color-primary);

  height: 3rem;
  width: 15rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  @include button-primary-animation;
}

.button-inverted-primary {
  background-color: #fff;

  height: 3rem;
  width: 15rem;
  color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  border: 1px solid var(--color-primary);
  @include button-inverted-animation;
}

.button-primary-small {
  background-color: var(--color-primary-light);

  height: 2.5rem;
  width: 5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  @include button-primary-animation;
}

.button-inverted-small {
  font-weight: 700;
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 25rem;
  width: 5rem;
  height: 2rem;

  font-size: 0.9rem;
  @include button-inverted-animation;
}

.button-inverted-md {
  font-weight: 700;
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 25rem;
  width: 7rem;
  height: 2.5rem;

  font-size: 0.9rem;
  @include button-inverted-animation;
}

.button-long-primary,
.button-long-inverted {
  font-weight: 700;
  border-radius: 25rem;
  width: 25rem;
  height: 2.5rem;
  font-size: 0.9rem;
  transition: background 0.5s;
  margin: 0.5rem 0;
}
.button-long-primary {
  background: var(--color-primary);
  color: #fff;
  border: none;
  @include button-primary-animation;
}
.button-long-inverted {
  background: #fff;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  @include button-inverted-animation;
}
.link {
  display: inline-block;
  color: var(--color-primary);
  font-size: var(--font-sm);
  font-weight: var(--fw-regular);
}

.nav-btn-smaller-screens {
  display: none;
  @media only screen and (max-width: $bp-largest) {
    display: flex;
    justify-content: center;
  }
  &__icon {
    background-color: var(--color-primary);
    fill: #fff;
    border-radius: 50%;
    padding: 0.5rem;
    height: 3rem;
    width: 3rem;
  }
}
