.auth {
  max-width: 100%;
  overflow: hidden;
  &__left {
    // Background image
    height: 100vh;
    width: 100%;
    display: block;
    background-image: url('../img/twitter-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-primary-light);

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      & > div {
        text-align: left;
      }
    }

    &-tagline-field {
      display: flex;
      padding: 1rem 0;
      &-icon {
        width: 1.6rem;
        fill: #fff;
        margin-right: 0.5rem;
      }
      &-heading {
        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;
      }
    }
  }
  &__right {
    position: relative;
    @media only screen and (max-width: $bp-large) {
      grid-row: 1;
    }
    @media only screen and (max-width: $bp-smallest) {
      padding: 0 1rem;
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    width: 50%;
    margin: 0 auto;

    & > div {
      text-align: left;
    }
    &-logo {
      width: 3.5rem;
      align-self: flex-start;
      margin: 0;
      padding: 0;
      transform: translateX(-0.5rem);
    }
    &-heading {
      font-weight: 700;
      font-size: 1.8rem;
      padding-top: 1rem;
      @media only screen and (max-width: $bp-smallest) {
        font-size: 1.4rem;
      }
    }
    &-tagline {
      padding-top: 6rem;
      font-size: 1rem;
      font-weight: var(--fw-bold);
    }
  }

  &__footer {
    height: 3rem;
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;

    &-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 12rem;
      background-color: #fff;
      flex-wrap: wrap;
      @media only screen and (max-width: $bp-largest) {
        padding: 0 6rem;
      }
      @media only screen and (max-width: $bp-smallest) {
        padding: 0 1rem;
      }
    }

    &-link,
    &-copyright {
      font-size: var(--font-xs);
      color: var(--color-dark-gray);
    }
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;

  color: var(--color-dark-gray);
  @media only screen and (max-width: $bp-smallest) {
    flex-direction: column;
  }
  &__input-field {
    margin: 1rem;
    @media only screen and (max-width: $bp-smallest) {
      width: 100%;
    }

    & > .link {
    }
  }
  &__label {
  }
  &__input {
  }
  button {
    @media only screen and (max-width: $bp-smallest) {
      width: 100%;
      margin-top: 2rem;
      height: 3rem;
    }
  }
}

.error-msg {
  position: absolute;
  bottom: -3rem;
  color: var(--color-red);
  font-size: var(--font-xxs);
  left: 0;
}
